<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In/ Sign Up</title>
    <link rel="stylesheet" href="styles/forms.css" />
  </head>
  <body>
    <div>
      <h1>Log In</h1>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input
          id="username"
          name="username"
          placeholder="Enter your username"
          type="text"
        />
        <label for="password">Password</label>
        <input
          id="password"
          name="password"
          type="password"
          placeholder="Enter your password"
        />
        <button type="submit">Log In</button>
      </form>
      <div>
        <h1>Sign Up</h1>
        <form action="/sign-up" method="POST">
          <label for="username">Username</label>
          <input
            id="username"
            name="username"
            placeholder="Enter your username"
            type="text"
          />
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Enter your password"
          />
          <button type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </body>
</html>
